<div class="mb-8">
  <div class="flex items-center -mx-2">
    <label class="flex-1 px-2 label text-white" for="{{id}}">{{name}}</label>
    <div class="px-2 uppercase text-xs text-teal text-center tracking-wide mb-1 w-32 mr-8">
      Gross wages
    </div>
  </div>
  <div class="flex items-center -mx-2">
    <div class="flex-1 px-2">
    <input id="{{id}}" type="range" value="{{amount}}" min="0" max="250000" step="500" class="input-range text-white w-full">
  </div>
  <div class="flex-none w-32 mr-8 px-2">
    <input class="income-input input" type="text" value="{{amount}}" maxlength="100">
  </div>
  </div>
</div>
